In [61]:
# !pip install SQLAlchemy

Looking in indexes: https://pypi.org/simple, https://packagecloud.io/github/git-lfs/pypi/simple
Requirement already satisfied: SQLAlchemy in /home/stubbs/anaconda3/envs/magic_env/lib/python3.10/site-packages (1.3.24)

In [15]:
import psycopg2 as pg2
from dotenv import load_dotenv
import os
import pandas as pd
import sqlalchemy

import requests
from datetime import date
import time

In [16]:
def get_all_contracts_latest_block():

    conn = pg2.connect(
        host= "database-2.c2bw3zzer4hr.us-west-1.rds.amazonaws.com",
        port = 5432,
        user = 'postgres',
        password = AWS_DB_PASSWORD,
        database = "magic_treasure_db"
    )

    cur = conn.cursor()

    ##Get the latest blocknumber so we can query alchemy more efficiently
    sql_query = """
    SELECT 
        contract_address as contract_address,
        cl.cartridge_name,
        cl.collection_name,
        max(blocknum)
        
    FROM erc721_transfers et
    left join contract_list cl on cl.contract_address = tt."rawContract.address" 
    group by 1,2,3
    """
    cur.execute(sql_query)

    data = cur.fetchall()

    cols = []
    for elt in cur.description:
        cols.append(elt[0])
        
    df = pd.DataFrame(data=data, columns = cols)
    # print(df)
    return df

def get_contract_latest_block(contract_address):

    conn = pg2.connect(
        host= "database-2.c2bw3zzer4hr.us-west-1.rds.amazonaws.com",
        port = 5432,
        user = 'postgres',
        password = AWS_DB_PASSWORD,
        database = "magic_treasure_db"
    )

    cur = conn.cursor()

    ##Get the latest blocknumber so we can query alchemy more efficiently
    sql_query = f"""
    SELECT 
        max(blocknum) as latest_retrieved_block
        
    FROM erc721_transfers et
    """
    cur.execute(sql_query)

    data = cur.fetchone()

    # cols = []
    # for elt in cur.description:
    #     cols.append(elt[0])
        
    # df = pd.DataFrame(data=data, columns = cols)
    # print(df)
    if data[0] is None:
        return 0
    else:
        return data[0]
    # print(data)
    # return data


def get_response_wo_pagekey(contract_address, start_block, ALCHEMY_API_KEY_TREASURE):
  url = f"https://arb-mainnet.g.alchemy.com/v2/{ALCHEMY_API_KEY_TREASURE}"
  payload = {
      "id": 1,
      "jsonrpc": "2.0",
      "method": "alchemy_getAssetTransfers",
      "params": [
          {
              "fromBlock": f"{start_block}",
              "toBlock": "latest",
              "contractAddresses": [f"{contract_address}"],
              "category": ["erc20", "erc721", "erc1155"],
              "withMetadata": True,
              "excludeZeroValue": False,
              "maxCount": "0x3e8",
              "order": "asc"
          }
      ]
  }
  headers = {
      "Accept": "application/json",
      "Content-Type": "application/json"
  }

  response = requests.post(url, json=payload, headers=headers)
  if 'error' in response.json():
    print(response.json()['error'])
  else:
    try:
        response=response.json()['result']
    except:
        response=response.json()
        print(response.keys())
  # print(response.text)
    return response

def get_response_w_pgkey(ALCHEMY_API_KEY_TREASURE, start_block, contract_address, _page_key):
    url = f"https://arb-mainnet.g.alchemy.com/v2/{ALCHEMY_API_KEY_TREASURE}"
  # contract_address = "0x539bdE0d7Dbd336b79148AA742883198BBF60342"
    payload = {
      "id": 1,
      "jsonrpc": "2.0",
      "method": "alchemy_getAssetTransfers",
      "params": [
          {
              "fromBlock": f"{start_block}",
              "toBlock": "latest",
              "contractAddresses": [f"{contract_address}"],
              "category": ["erc20", "erc721", "erc1155"],
              "withMetadata": True,
              "excludeZeroValue": False,
              "maxCount": "0x3e8",
              "order": "asc",
              "pageKey": f"{_page_key}"
          }
      ]
  }
    headers = {
      "Accept": "application/json",
      "Content-Type": "application/json"
  }
    response = requests.post(url, json=payload, headers=headers)
    try:
        response = response.json()['result']
        # print(response)
        return response
    except:
        print(f"didn't work!\n{response}")
        return response.json()

In [17]:
load_dotenv()
start_time = time.time()
####------------------------------------------------------------------------------------####
####                             Connect to DB                                          ####
####------------------------------------------------------------------------------------####
AWS_DB_PASSWORD = os.getenv("AWS_DB_PASSWORD")
ALCHEMY_API_KEY_TREASURE = os.getenv("ALCHEMY_API_KEY_TREASURE")


contract_address = "0xfe8c1ac365ba6780aec5a985d989b327c27670a1"

latest_retrieved_block = int(get_contract_latest_block(contract_address[0]))
print(latest_retrieved_block)

latest_block_hex = hex(latest_retrieved_block)

contract_list = [contract_address]


print(f"Contract: {contract_address}")
page_key = None
concat_num=0
skip_other_pages=False
df_transfers = pd.DataFrame()

response_0 = get_response_wo_pagekey(contract_address, latest_block_hex,  ALCHEMY_API_KEY_TREASURE)
print(response_0.keys())
if 'pageKey' in response_0:
    page_key = response_0['pageKey']
else:
    print('Not enough for second page')
    skip_other_pages = True
df_transfers = pd.concat([df_transfers, pd.json_normalize(response_0['transfers'])], axis=0)

while True:
    if not skip_other_pages:
        response=get_response_w_pgkey(ALCHEMY_API_KEY_TREASURE, latest_block_hex, contract_address, page_key)
        # print(f"\n******************\nLength: {len(response['transfers'])}")
        if 'transfers' in response:
            
            df_new = pd.json_normalize(response['transfers'])
            df_transfers = pd.concat([df_transfers, df_new], axis=0)
        else:
            break
        try:
            page_key=response['pageKey']
        except:
            break

        concat_num = concat_num + 1
        if concat_num % 100 == 0:
            print(f"Iteration Number: {concat_num}")
        # print(page_key)
    else:
        break
df_transfers=df_transfers.drop(['uniqueId', 'erc1155Metadata', 'value', 'erc721TokenId', 'rawContract.decimal', 'rawContract.value', 'category', 'asset'], axis=1)
# df_transfers.to_csv(f'{date.today()}_df_transfers_{contract_address}.csv')
# df_transfers.to_csv(f'df_transfers_{contract_address}.csv')


# df_transfers = pd.read_csv('/home/stubbs/Documents/skycatcher/TreasureDAO/df_transfers.csv' 
#                           , usecols=['hash', 'from', 'to', 'value', 'rawContract.address', 'metadata.blockTimestamp']
#                             , parse_dates=['metadata.blockTimestamp']
#                           )





# pd.read_sql(sql_query, con=connection)

29272510
Contract: 0xfe8c1ac365ba6780aec5a985d989b327c27670a1
dict_keys(['transfers'])
Not enough for second page

In [18]:
df_transfers

,blockNum,hash,from,to,tokenId,rawContract.address,metadata.blockTimestamp
0,0x1bea9be,0x80b6ab84137d8329f3c6a9a98fa00611f8732e77d0d9...,0x526c330d535632a2bb402a9e281847334eb79567,0xb9c9ed651eb173ca7fbc3a094da9ce33ec145a29,0x00000000000000000000000000000000000000000000...,0xfe8c1ac365ba6780aec5a985d989b327c27670a1,2022-10-09T14:34:15.000Z
1,0x1beb20c,0x21803861ca3fa526ba59e23bf97148e91ce2028ec291...,0xb9c9ed651eb173ca7fbc3a094da9ce33ec145a29,0x1e38f19ec613cfcb06d23fd71d01c9dc1feba45e,0x00000000000000000000000000000000000000000000...,0xfe8c1ac365ba6780aec5a985d989b327c27670a1,2022-10-09T14:47:56.000Z
2,0x1beb20c,0x21803861ca3fa526ba59e23bf97148e91ce2028ec291...,0xb9c9ed651eb173ca7fbc3a094da9ce33ec145a29,0x1e38f19ec613cfcb06d23fd71d01c9dc1feba45e,0x00000000000000000000000000000000000000000000...,0xfe8c1ac365ba6780aec5a985d989b327c27670a1,2022-10-09T14:47:56.000Z
3,0x1beb20c,0x21803861ca3fa526ba59e23bf97148e91ce2028ec291...,0xb9c9ed651eb173ca7fbc3a094da9ce33ec145a29,0x1e38f19ec613cfcb06d23fd71d01c9dc1feba45e,0x00000000000000000000000000000000000000000000...,0xfe8c1ac365ba6780aec5a985d989b327c27670a1,2022-10-09T14:47:56.000Z
4,0x1beb20c,0x21803861ca3fa526ba59e23bf97148e91ce2028ec291...,0xb9c9ed651eb173ca7fbc3a094da9ce33ec145a29,0x1e38f19ec613cfcb06d23fd71d01c9dc1feba45e,0x00000000000000000000000000000000000000000000...,0xfe8c1ac365ba6780aec5a985d989b327c27670a1,2022-10-09T14:47:56.000Z
...,...,...,...,...,...,...,...
402,0x1bf66f0,0xc3da0113fee7f5ea6dbcbb754957cc79b17b0ff510ea...,0xda3cad5e4f40062ceca6c1b979766bc0baed8e33,0xe65b358c1d8d81e07b95b1c5177514f207058b3b,0x00000000000000000000000000000000000000000000...,0xfe8c1ac365ba6780aec5a985d989b327c27670a1,2022-10-09T20:33:48.000Z
403,0x1bf6713,0xf09b2d1eb78e9bef353f0a6d676bffec3cabc6098b73...,0xe65b358c1d8d81e07b95b1c5177514f207058b3b,0x737eaf14061fe68f04ff4ca8205acf538555fcc8,0x00000000000000000000000000000000000000000000...,0xfe8c1ac365ba6780aec5a985d989b327c27670a1,2022-10-09T20:34:14.000Z
404,0x1bf6773,0xbc179a3fc5219ff613d07d5f4b9967e042e209b61bb9...,0xda3cad5e4f40062ceca6c1b979766bc0baed8e33,0xd7edf5ac28a6b2ae546c6039788e68c07bba5fa9,0x00000000000000000000000000000000000000000000...,0xfe8c1ac365ba6780aec5a985d989b327c27670a1,2022-10-09T20:35:34.000Z
405,0x1bf67ac,0xfcb3c493c0fe8897a891220e05231916729b874db9e4...,0xd7edf5ac28a6b2ae546c6039788e68c07bba5fa9,0x737eaf14061fe68f04ff4ca8205acf538555fcc8,0x00000000000000000000000000000000000000000000...,0xfe8c1ac365ba6780aec5a985d989b327c27670a1,2022-10-09T20:36:23.000Z
406,0x1bf67ca,0x5486da14826a16718ba9198e461831788f706f658b56...,0xbc1159fcaa1ac43e9a12d3f9e3fbe32b9a676701,0x737eaf14061fe68f04ff4ca8205acf538555fcc8,0x00000000000000000000000000000000000000000000...,0xfe8c1ac365ba6780aec5a985d989b327c27670a1,2022-10-09T20:36:48.000Z

In [19]:
def to_hex(x):
    # return int(hex(x))
    return int(x, base=16)
df_transfers_numeric = df_transfers.copy()
df_transfers_numeric.loc[:, 'blockNum'] = df_transfers_numeric['blockNum'].apply(to_hex)
# df_transfers_numeric.loc[:, 'erc721TokenId'] = df_transfers_numeric['erc721TokenId'].apply(to_hex)
df_transfers_numeric.loc[:, 'tokenId'] = df_transfers_numeric['tokenId'].apply(to_hex)

# df_transfers_numeric['value']= df_transfers_numeric['value'].fillna(1)
df_transfers_numeric.rename(columns={'blockNum':'blocknum', 'tokenId':'tokenid', 'rawContract.address':'contract_address', 'metadata.blockTimestamp':'block_timestamp', 'from':'from_address', 'to':'to_address'}, inplace=True)
df_transfers_numeric['block_timestamp'] = pd.to_datetime(df_transfers_numeric['block_timestamp']).dt.tz_convert(None)
# df_transfers_numeric.datetime.dt.tz_convert(None)
df_transfers_numeric

,blocknum,hash,from_address,to_address,tokenid,contract_address,block_timestamp
0,29272510,0x80b6ab84137d8329f3c6a9a98fa00611f8732e77d0d9...,0x526c330d535632a2bb402a9e281847334eb79567,0xb9c9ed651eb173ca7fbc3a094da9ce33ec145a29,28334,0xfe8c1ac365ba6780aec5a985d989b327c27670a1,2022-10-09 14:34:15
1,29274636,0x21803861ca3fa526ba59e23bf97148e91ce2028ec291...,0xb9c9ed651eb173ca7fbc3a094da9ce33ec145a29,0x1e38f19ec613cfcb06d23fd71d01c9dc1feba45e,24971,0xfe8c1ac365ba6780aec5a985d989b327c27670a1,2022-10-09 14:47:56
2,29274636,0x21803861ca3fa526ba59e23bf97148e91ce2028ec291...,0xb9c9ed651eb173ca7fbc3a094da9ce33ec145a29,0x1e38f19ec613cfcb06d23fd71d01c9dc1feba45e,1329,0xfe8c1ac365ba6780aec5a985d989b327c27670a1,2022-10-09 14:47:56
3,29274636,0x21803861ca3fa526ba59e23bf97148e91ce2028ec291...,0xb9c9ed651eb173ca7fbc3a094da9ce33ec145a29,0x1e38f19ec613cfcb06d23fd71d01c9dc1feba45e,16578,0xfe8c1ac365ba6780aec5a985d989b327c27670a1,2022-10-09 14:47:56
4,29274636,0x21803861ca3fa526ba59e23bf97148e91ce2028ec291...,0xb9c9ed651eb173ca7fbc3a094da9ce33ec145a29,0x1e38f19ec613cfcb06d23fd71d01c9dc1feba45e,10031,0xfe8c1ac365ba6780aec5a985d989b327c27670a1,2022-10-09 14:47:56
...,...,...,...,...,...,...,...
402,29320944,0xc3da0113fee7f5ea6dbcbb754957cc79b17b0ff510ea...,0xda3cad5e4f40062ceca6c1b979766bc0baed8e33,0xe65b358c1d8d81e07b95b1c5177514f207058b3b,37020,0xfe8c1ac365ba6780aec5a985d989b327c27670a1,2022-10-09 20:33:48
403,29320979,0xf09b2d1eb78e9bef353f0a6d676bffec3cabc6098b73...,0xe65b358c1d8d81e07b95b1c5177514f207058b3b,0x737eaf14061fe68f04ff4ca8205acf538555fcc8,37020,0xfe8c1ac365ba6780aec5a985d989b327c27670a1,2022-10-09 20:34:14
404,29321075,0xbc179a3fc5219ff613d07d5f4b9967e042e209b61bb9...,0xda3cad5e4f40062ceca6c1b979766bc0baed8e33,0xd7edf5ac28a6b2ae546c6039788e68c07bba5fa9,37021,0xfe8c1ac365ba6780aec5a985d989b327c27670a1,2022-10-09 20:35:34
405,29321132,0xfcb3c493c0fe8897a891220e05231916729b874db9e4...,0xd7edf5ac28a6b2ae546c6039788e68c07bba5fa9,0x737eaf14061fe68f04ff4ca8205acf538555fcc8,37021,0xfe8c1ac365ba6780aec5a985d989b327c27670a1,2022-10-09 20:36:23
406,29321162,0x5486da14826a16718ba9198e461831788f706f658b56...,0xbc1159fcaa1ac43e9a12d3f9e3fbe32b9a676701,0x737eaf14061fe68f04ff4ca8205acf538555fcc8,6069,0xfe8c1ac365ba6780aec5a985d989b327c27670a1,2022-10-09 20:36:48

In [20]:

df_transfers_numeric.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 407 entries, 0 to 406
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   blocknum          407 non-null    int64
 1   hash              407 non-null    object
 2   from_address      407 non-null    object
 3   to_address        407 non-null    object
 4   tokenid           407 non-null    int64
 5   contract_address  407 non-null    object
 6   block_timestamp   407 non-null    datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(4)
memory usage: 22.4+ KB

In [21]:
df_transfers_numeric.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 407 entries, 0 to 406
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   blocknum          407 non-null    int64
 1   hash              407 non-null    object
 2   from_address      407 non-null    object
 3   to_address        407 non-null    object
 4   tokenid           407 non-null    int64
 5   contract_address  407 non-null    object
 6   block_timestamp   407 non-null    datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(4)
memory usage: 22.4+ KB

### Connect to DB using SQLAlchemy

In [22]:
import sqlalchemy
sqlalchemy.__version__

'1.4.41'

In [23]:
#Define connection variables
host= "database-2.c2bw3zzer4hr.us-west-1.rds.amazonaws.com"
port = 5432
user = 'postgres'
password = AWS_DB_PASSWORD
database = "magic_treasure_db"

postgres_str = f'postgresql://{user}:{password}@{host}:{port}/{database}'

engine = sqlalchemy.create_engine(postgres_str)

In [24]:

### append the token_transfers db with the new data
df_transfers_numeric.to_sql('erc721_transfers', con=engine, index=False, if_exists='append', chunksize=10000)


# sql = """
# update token_transfers as tt
# set col1

407

### Update the Materialized View

In [25]:
conn = pg2.connect(
    host= "database-2.c2bw3zzer4hr.us-west-1.rds.amazonaws.com",
    port = 5432,
    user = 'postgres',
    password = AWS_DB_PASSWORD,
    database = "magic_treasure_db"
)
cur = conn.cursor()

sql_query = """
REFRESH MATERIALIZED VIEW bridgeworld_daily_balances;
"""
cur.execute(sql_query)
cur.close()
conn.close()

In [14]:
engine

Engine(postgresql://postgres:***@database-2.c2bw3zzer4hr.us-west-1.rds.amazonaws.com:5432/magic_treasure_db)

In [21]:

#Split the raw data into two dataframes; 1. transfers out, 2. transfers in

#---------------------------------------------Create a 'transfers_out' dataframe-------------------------------#
#The values in the 'transfers_out' dataframe will be multiplied by -1.0 to show that the wallet balance is going down
df_transfers_out = df_transfers[['hash', 'from', 'value', 'metadata.blockTimestamp']].copy()
# df_transfers_out['value']=df_transfers_out['value']*-1.0
df_transfers_out['value'] = -1
df_transfers_out.rename(columns = {'hash': 'tx_hash', 'from':'address', 'value':'amount', 'metadata.blockTimestamp':'tx_timestamp'}, inplace=True)

#---------------------------------------------Create a 'transfers_in' dataframe-------------------------------#
#The values in 'transfers_in' are positive
df_transfers_in = df_transfers[['hash', 'to', 'value', 'metadata.blockTimestamp']].copy()
df_transfers_in['value'] = 1
df_transfers_in.rename(columns = {'hash': 'tx_hash', 'to':'address', 'value':'amount', 'metadata.blockTimestamp':'tx_timestamp'}, inplace=True)

#-----------------------------Use Pandas concat to combine the 'in' and 'out' dataframes------------------------------#
transfers_all=pd.concat([df_transfers_in, df_transfers_out], axis=0)

#Create a 'date' column we will not be looking at individual txns. 
transfers_all['date'] = pd.to_datetime(transfers_all['tx_timestamp']).dt.date
# transfers_all = transfers_all[['date', 'tx_timestamp', 'address', 'amount']].reset_index()
transfers_all = transfers_all[['date', 'tx_timestamp', 'address', 'amount']]

transfers_all

,date,tx_timestamp,address,amount
0,2022-09-25,2022-09-25T10:08:20.000Z,0x214db7987d0783f0961e0421e85d74ab4a775cc9,1
1,2022-09-25,2022-09-25T10:10:18.000Z,0xda3cad5e4f40062ceca6c1b979766bc0baed8e33,1
2,2022-09-25,2022-09-25T10:10:31.000Z,0x3117d93d07770930f091efd7afb378780cf4322d,1
3,2022-09-25,2022-09-25T10:11:05.000Z,0xda3cad5e4f40062ceca6c1b979766bc0baed8e33,1
4,2022-09-25,2022-09-25T10:12:38.000Z,0xb9c9ed651eb173ca7fbc3a094da9ce33ec145a29,1
...,...,...,...,...
294,2022-10-08,2022-10-08T11:36:12.000Z,0xbcbe7e9a54b0fb501a91d7065d539b3efaa11522,-1
295,2022-10-08,2022-10-08T11:44:50.000Z,0x737eaf14061fe68f04ff4ca8205acf538555fcc8,-1
296,2022-10-08,2022-10-08T11:46:32.000Z,0x8a6bcfc3ae434354a5dffd6df227c6d28dad9c7c,-1
297,2022-10-08,2022-10-08T11:50:41.000Z,0x4388e7110b0f6d16d08f5b5c9f3ac2b8c5de7057,-1
298,2022-10-08,2022-10-08T11:53:16.000Z,0xda3cad5e4f40062ceca6c1b979766bc0baed8e33,-1

In [22]:
#------------------------------------------------------------------------------------------------------------#

#------------------------------------------------------------------------------------------------------------#
#Create a df that has all the wallet addresses that have interacted with the contract and the date of their first interaction

wallets_and_first_interaction = transfers_all.drop_duplicates(subset='address', keep='first')[['date', 'address']]
wallets_and_first_interaction['key']=1                                                   #Add a ['key'] column that can be used to join onto
wallets_and_first_interaction.columns = ['first_interaction_date', 'address', 'key']     #Rename the columns

#------------------------------------------------------------------------------------------------------------#
# Create a data_range df. You will join the wallet & first interactions onto the date range so we can create 
# a df with daily wallet balances that won't have interruptions
start_day=transfers_all['date'].min()
end_day=transfers_all['date'].max()

date_range = pd.DataFrame(pd.date_range(start_day, end_day, inclusive="both")).rename(columns={0:'date'}).reset_index()
date_range['key']=1

date_range

    index       date  key
0       0 2022-09-25    1
1       1 2022-09-26    1
2       2 2022-09-27    1
3       3 2022-09-28    1
4       4 2022-09-29    1
5       5 2022-09-30    1
6       6 2022-10-01    1
7       7 2022-10-02    1
8       8 2022-10-03    1
9       9 2022-10-04    1
10     10 2022-10-05    1
11     11 2022-10-06    1
12     12 2022-10-07    1
13     13 2022-10-08    1

In [23]:
#------------------------------------------------------------------------------------------------------------#
# Merge the date range on wallet_list on the 'key' column created earlier. 
merged_wallets_date_range = date_range.merge(wallets_and_first_interaction, how='left', on='key')
merged_wallets_date_range['date'] = pd.to_datetime(merged_wallets_date_range['date']).dt.date

merged_wallets_date_range

,index,date,key,first_interaction_date,address
0,0,2022-09-25,1,2022-09-25,0x214db7987d0783f0961e0421e85d74ab4a775cc9
1,0,2022-09-25,1,2022-09-25,0xda3cad5e4f40062ceca6c1b979766bc0baed8e33
2,0,2022-09-25,1,2022-09-25,0x3117d93d07770930f091efd7afb378780cf4322d
3,0,2022-09-25,1,2022-09-25,0xb9c9ed651eb173ca7fbc3a094da9ce33ec145a29
4,0,2022-09-25,1,2022-09-25,0x4a8b9e2c2940fdd39aceb384654dc59acb58c337
...,...,...,...,...,...
16417,13,2022-10-08,1,2022-10-08,0x1b94eeec23cac3dfd72ea78a88a2910b002ea37d
16418,13,2022-10-08,1,2022-10-08,0x9ca00f88ba35061c50e42b4fb45d5f52e8408fb3
16419,13,2022-10-08,1,2022-10-08,0xbce5541ed4a0790f8647b45f976dc0ab525e95e4
16420,13,2022-10-08,1,2022-10-08,0x0d36f97205c28379b34a1675ce0395f6d25bd928
16421,13,2022-10-08,1,2022-10-08,0xcdc925e526686d041fee5b3a11cd49ff7b1d376f

In [24]:
transfers_all

,date,tx_timestamp,address,amount
0,2022-09-25,2022-09-25T10:08:20.000Z,0x214db7987d0783f0961e0421e85d74ab4a775cc9,1
1,2022-09-25,2022-09-25T10:10:18.000Z,0xda3cad5e4f40062ceca6c1b979766bc0baed8e33,1
2,2022-09-25,2022-09-25T10:10:31.000Z,0x3117d93d07770930f091efd7afb378780cf4322d,1
3,2022-09-25,2022-09-25T10:11:05.000Z,0xda3cad5e4f40062ceca6c1b979766bc0baed8e33,1
4,2022-09-25,2022-09-25T10:12:38.000Z,0xb9c9ed651eb173ca7fbc3a094da9ce33ec145a29,1
...,...,...,...,...
294,2022-10-08,2022-10-08T11:36:12.000Z,0xbcbe7e9a54b0fb501a91d7065d539b3efaa11522,-1
295,2022-10-08,2022-10-08T11:44:50.000Z,0x737eaf14061fe68f04ff4ca8205acf538555fcc8,-1
296,2022-10-08,2022-10-08T11:46:32.000Z,0x8a6bcfc3ae434354a5dffd6df227c6d28dad9c7c,-1
297,2022-10-08,2022-10-08T11:50:41.000Z,0x4388e7110b0f6d16d08f5b5c9f3ac2b8c5de7057,-1
298,2022-10-08,2022-10-08T11:53:16.000Z,0xda3cad5e4f40062ceca6c1b979766bc0baed8e33,-1

In [25]:

#Now merge all transfers onto the merged wallet_date_range df
merged_wallets_transfers=merged_wallets_date_range.merge(transfers_all, how='left', left_on =['date', 'address'], right_on=['date', 'address'])
merged_wallets_transfers

,index,date,key,first_interaction_date,address,tx_timestamp,amount
0,0,2022-09-25,1,2022-09-25,0x214db7987d0783f0961e0421e85d74ab4a775cc9,2022-09-25T10:08:20.000Z,1.0
1,0,2022-09-25,1,2022-09-25,0x214db7987d0783f0961e0421e85d74ab4a775cc9,2022-09-25T10:10:18.000Z,-1.0
2,0,2022-09-25,1,2022-09-25,0xda3cad5e4f40062ceca6c1b979766bc0baed8e33,2022-09-25T10:10:18.000Z,1.0
3,0,2022-09-25,1,2022-09-25,0xda3cad5e4f40062ceca6c1b979766bc0baed8e33,2022-09-25T10:11:05.000Z,1.0
4,0,2022-09-25,1,2022-09-25,0xda3cad5e4f40062ceca6c1b979766bc0baed8e33,2022-09-25T11:10:09.000Z,1.0
...,...,...,...,...,...,...,...
63024,13,2022-10-08,1,2022-10-08,0x1b94eeec23cac3dfd72ea78a88a2910b002ea37d,2022-10-08T10:18:26.000Z,-1.0
63025,13,2022-10-08,1,2022-10-08,0x9ca00f88ba35061c50e42b4fb45d5f52e8408fb3,2022-10-08T10:18:56.000Z,-1.0
63026,13,2022-10-08,1,2022-10-08,0xbce5541ed4a0790f8647b45f976dc0ab525e95e4,2022-10-08T10:19:24.000Z,-1.0
63027,13,2022-10-08,1,2022-10-08,0x0d36f97205c28379b34a1675ce0395f6d25bd928,2022-10-08T10:19:52.000Z,-1.0
63028,13,2022-10-08,1,2022-10-08,0xcdc925e526686d041fee5b3a11cd49ff7b1d376f,2022-10-08T10:20:21.000Z,-1.0

In [26]:
#Create a mask to remove wallet data from the df on days that are earlier than the first wallet_interaction. This
# will help prevent having millions of rows of zeros before the wallets have even interacted
mask = merged_wallets_transfers['first_interaction_date']<=merged_wallets_transfers['date']
filtered_wallet_transfer_df=merged_wallets_transfers.loc[mask]
filtered_wallet_transfer_df.loc[:,'amount'].fillna(0)

#Group the transfers by date and sum up 'amount' columns to get the net daily change in MAGIC for a wallet
grouped_filtered_wallet_transfer=filtered_wallet_transfer_df.groupby(['date', 'address'])['amount'].sum().reset_index()

#Get a running total of transfers to get daily wallet balances
grouped_filtered_wallet_transfer['cumsum']=grouped_filtered_wallet_transfer.groupby(['address'])['amount'].cumsum()

#Now remove all rows for addresses that no longer have a balance and set the dataframe index to the date
wallet_balances=grouped_filtered_wallet_transfer[grouped_filtered_wallet_transfer['cumsum']>0].set_index('date')

#-----------------------------------------------------------------------------------------------------------------
#Save the wallet_balances to a .csv/.parquet file

wallet_balances.to_parquet(f'{date.today()}_balances_by_day.parquet')
wallet_balances.to_csv(f'{date.today()}_balances_by_day_{contract_address}.csv')

stop_time = time.time()
run_time = stop_time-start_time
print(f'the script took {run_time} seconds to run')

# print(latest_block)
# print(hex(int(latest_block.values)))

the script took 20532.922996759415 seconds to run

In [28]:
wallet_balances.sort_values('cumsum')

                                               address  amount  cumsum
date
2022-09-25  0x097e1fa1b3454355bd48409e19cfdb3c0d1dcc46     1.0     1.0
2022-10-05  0x34a32ad4ba1ea1eb02ccd3ed5b9af9a8d8ea07a8     0.0     1.0
2022-10-05  0x336ea7fb88cf1af7b272bc27ef91d3e2567977b3     0.0     1.0
2022-10-05  0x328739e4901cd242072353ec377d72fb87eca876     1.0     1.0
2022-10-05  0x309bcc55fe9cca749cff42eb94a846823d27bce6     0.0     1.0
...                                                ...     ...     ...
2022-09-26  0x737eaf14061fe68f04ff4ca8205acf538555fcc8    21.0    79.0
2022-10-06  0x737eaf14061fe68f04ff4ca8205acf538555fcc8    45.0    79.0
2022-10-08  0x737eaf14061fe68f04ff4ca8205acf538555fcc8  -177.0   168.0
2022-10-08  0x408b0903a56e6b7b19078f06a8f6caf88a8cc72b   293.0   294.0
2022-10-07  0x737eaf14061fe68f04ff4ca8205acf538555fcc8   266.0   345.0

[1839 rows x 3 columns]